@model IEnumerable<Data.Entityes.Department>

@{
    ViewData["Title"] = "Departmens";
}

<h2>Гарнизоны Минской области</h2>

<p>
    <a asp-action="CreateDepartment">Создать новый отдел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
             <a asp-action="SubDivisions/@item.DepartmentId" asp-controller="Manager">Подразделения</a>
        
            </td>
        </tr>
}
    </tbody>
</table>
