@model IEnumerable<PTVMou.Models.NormsSubDivisionViewModels>

@{
    ViewData["Title"] = "Norms";
}

<h2>Классификация по нормам</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NormsId)
            </th>
            <th>
                Категория подразделения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NormsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryes.TypeDeparmen)
            </td>
            <td>
                <a asp-controller="Manager" asp-action="NormEdit/@item.NormsId">Изменить</a> 
            </td>
        </tr>
}
    </tbody>
</table>
